.tabs-wrap {
  width: 600px;
  margin: 0 auto;
}
.example-list {
  padding: 16px 24px;
}
.example-list-item {
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  color: #696969;
  font-weight: 300;
}
.example-tab-icon {
  margin-right: 4px;
  height: 18px;
  width: 18px;
  font-size: 18px;
}