.modal {
  height: 600px;
  // width: 400px;
  &-title {
    margin-bottom: 24px;
  }
  &-container {
    height: calc(100% - 108px);
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0px 24px;
    font-size: 18px;
    width: calc(100% - 48px);
  }
  &-checkbox-wrap {
    /* Options: */
    font-family: Soleto;
    font-size: 14px;
    color: #696969;
    text-align: left;
    line-height: 24px;
    font-weight: 300;
    // height: 300px;
    overflow-y: auto;
    margin-top: -24px;
    margin-left: -24px;
    padding-top: 24px;
    padding-left: 24px;
  }
  &-footer {
    height: 84px;
    text-align: right;
    background: #ffffff;
    box-shadow: inset 0 1px 0 0 rgba(215, 221, 229, 0.5);
  }
  &-addbtn {
    margin-top: 24px;
    margin-right: 24px;
  }
  &-selectall {
    margin-bottom: 16px;
  }
}
