.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  white-space: normal;
  padding-left: 56px;
}

.example-full-width {
  width: 100%;
  margin-bottom: 4px;
}

.example-full-width-half {
  width: 100%;
  margin-bottom: 4px;
}

td:not(:last-child) {
  padding-right: 24px;
}

p {
  margin: 0px;
}