<form class="vizient-input example-wrapper">
  <mat-form-field>
    <input
      matInput
      placeholder="Choose a month and year range"
      [matRangeDatepicker]="resultPicker"
      name="date"
      typeMode="month"
    />
    <mat-range-datepicker
      #resultPicker
      [rangeMode]='true'
      (closed)="onClose()"
      typeMode="month"
    >
    </mat-range-datepicker>
    <mat-range-datepicker-toggle
      matSuffix
      [for]="resultPicker"
    ></mat-range-datepicker-toggle>
  </mat-form-field>
</form>
