<div class="example-centralization">
  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
</div>
<mat-menu #menu="matMenu" backdropClass="viz-menu">
  <button mat-menu-item>
    <mat-icon>assignment_turned_in</mat-icon>
    <span>Assigned</span>
  </button>
  <button mat-menu-item>
    <mat-icon>business</mat-icon>
    <span>Work</span>
  </button>
  <button mat-menu-item>
    <mat-icon>shopping_cart</mat-icon>
    <span>Cart</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>