<div class="example-centralization">
  <button mat-flat-button color="primary" [matMenuTriggerFor]="start">Menu</button>
</div>

<mat-menu #start="matMenu" backdropClass="viz-menu">
  <button mat-menu-item [matMenuTriggerFor]="content1">Content 1</button>
  <button mat-menu-item [matMenuTriggerFor]="content2">Content 2</button>
  <button mat-menu-item [matMenuTriggerFor]="content3">Content 3</button>
  <button mat-menu-item [matMenuTriggerFor]="content4">Content 4</button>
</mat-menu>

<mat-menu #content1="matMenu" backdropClass="viz-menu">
  <button mat-menu-item>Content 1.1</button>
  <button mat-menu-item>Content 1.2</button>
  <button mat-menu-item>Content 1.3</button>
  <button mat-menu-item>Content 1.4</button>
</mat-menu>

<mat-menu #content2="matMenu" backdropClass="viz-menu">
  <button mat-menu-item>Content 2.1</button>
  <button mat-menu-item>Content 2.2</button>
  <button mat-menu-item>Content 2.3</button>
  <button mat-menu-item>Content 2.4</button>
</mat-menu>

<mat-menu #content3="matMenu" backdropClass="viz-menu">
  <button mat-menu-item>Content 3.1</button>
  <button mat-menu-item>Content 3.2</button>
  <button mat-menu-item>Content 3.3</button>
  <button mat-menu-item>Content 3.4</button>
</mat-menu>

<mat-menu #content4="matMenu" backdropClass="viz-menu">
  <button mat-menu-item>Content 4.1</button>
  <button mat-menu-item>Content 4.2</button>
  <button mat-menu-item>Content 4.3</button>
  <button mat-menu-item>Content 4.4</button>
</mat-menu>
