p {
  padding-left: 56px;
  text-align: left;
}
.example-container {
  width: 200px;
  text-align: left;
  margin: 0 auto;
}

.example-title {
  height: 24px;
  width: 77px;
  color: #696969;
  font-family: 'Soleto Trial';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.first-one {
  margin-bottom: 36px;
}
