<form class="vizient-input example-wrapper">
  <mat-form-field>
    <input
      matInput
      placeholder="Choose a date range"
      [matRangeDatepicker]="resultPicker"
      name="date"
      typeMode="date"
    />
    <mat-range-datepicker
      #resultPicker
      [rangeMode]='true'
      (closed)="this.onClose($event)"
      typeMode="date"
    >
    </mat-range-datepicker>
    <mat-range-datepicker-toggle
      matSuffix
      [for]="resultPicker"
    ></mat-range-datepicker-toggle>
  </mat-form-field>
</form>
