mat-form-field {
  margin-right: 12px;
}
.example-wrapper {
    white-space: normal;
    width: 580px;
    margin: 0 auto;
}
.example-paginator-data {
  text-align: left;
  margin-left: 14px;
}

.example-paginator-instance mat-paginator{
  display: flex;
}

.example-paginator-wrapper {
  width: 396px;
  margin: 0 auto;
  /* text-align: left; */
}