<html>

<head></head>

<body>
  <div class="doc-category-title">
    Templates
    <span class="docs-markdown-h3"
          id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Application Templates
  </div>
  <div class="doc-desc-1">
    The Vizient UX framework uses single sign-on page for all Vizient applications for a more unified product relationship with
    members. Quickly get a project started with any examples ranging from using parts of the framework to custom components
    and layouts.
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Blank Template
    <span class="docs-markdown-h3"
          id="blanktemplate">
      <span header-link="blanktemplate"></span>Blank Template </span>
  </div>

  <img src="assets/img/doc/blank_template.png"
       alt=""
       srcset=""
       height="444px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    Start from scratch with blank website templates. Add your own content, style and design. Click “See Live Template” to quickly
    get started and demonstrate best practices for adding onto the framework.
  </div>

  <a class="template-live-link docs-mb24">
    See Live Template
  </a>

  <div class="doc-desc-2 docs-mb16">
    For designers, to add this template to your design, follow this path within the Sketch App UI:
  </div>

  <div sketch-link="0"></div>

  <div class="doc-divider">
  </div>


  <div class="doc-title-2">
    Dashboard Template
    <span class="docs-markdown-h3"
          id="dashboardtemplate">
      <span header-link="dashboardtemplate"></span>Dashboard Template </span>
  </div>

  <img src="assets/img/doc/dashboard_template.png"
       alt=""
       srcset=""
       height="566px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    Dashboard template come with powerful functions and features. Click “See Live Template” to quickly get started and demonstrate
    best practices for adding onto the framework.
  </div>

  <a class="template-live-link docs-mb24">
    See Live Template
  </a>

  <div class="doc-desc-2 docs-mb16">
    For designers, to add this template to your design, follow this path within the Sketch App UI:
  </div>

  <div sketch-link="1"></div>

  <div class="doc-divider">
  </div>

  <div class="doc-title-2">
    Form Template
    <span class="docs-markdown-h3"
          id="formtemplate">
      <span header-link="formtemplate"></span>Form Template </span>
  </div>

  <img src="assets/img/doc/form_template.png"
       alt=""
       srcset=""
       height="972px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    Form template including form fields, datepicker, choice forms such as checkboxes and radio buttons and more. Click “See Live
    Template” to quickly get started and demonstrate best practices for adding onto the framework.
  </div>

  <a class="template-live-link docs-mb24">
    See Live Template
  </a>

  <div class="doc-desc-2 docs-mb16">
    For designers, to add this template to your design, follow this path within the Sketch App UI:
  </div>

  <div sketch-link="2"></div>


</body>

</html>