<html>

<head></head>

<body>
  <div class="doc-category-title">
    Button & Indicatiors
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Badge
  </div>
  <div class="doc-desc-1">
    Badges are small status descriptors for UI elements. A badge consists of a small circle, typically containing a number or
    other short set of characters, that appears in proximity to another object.
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    examples
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-desc-2">
    Examples of badges containing text, using primary and secondary colors. The badge is applied to its children.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="badge-basic"></div>
  </div>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized badge, just set
    <span class="doc-desc-2-highlight">color/matBadgeHidden/matBadgeOverlap/matBadgePosition/matBadgeSize</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>color</td>
        <td>The color of the badge. Can be primary, accent, or warn.</td>
        <td>string</td>
        <td>primary</td>
      </tr>
      <tr>
        <td>matBadgeHidden</td>
        <td>Whether the badge is hidden.</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>matBadgeOverlap</td>
        <td>Whether the badge should overlap its contents or not.</td>
        <td>boolean</td>
        <td>true</td>
      </tr>
      <tr>
        <td>matBadgePosition</td>
        <td>Position the badge should reside. Accepts any combination of 'above'|'below' and 'before'|'after'</td>
        <td>string</td>
        <td>above after</td>
      </tr>
      <tr>
        <td>matBadgeSize</td>
        <td>Size of the badge. Can be 'small', 'medium', or 'large'.</td>
        <td>string</td>
        <td>medium</td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Badges should:
    <ul class="doc-list">
      <li>Use established and right colors appropriately in each case.</li>
      <li>Be positioned in consistent locations in the interface. The badge should always be close to the element that it supports</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage & Content guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content guidelines</span>
  </div>
  <div class="doc-desc-2">
    Badge should not block the over elements it support. Bagde should always stay on top and on the right of the main elements.
  </div>
  <div style="margin-bottom:24px">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/badge-pic-1.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/badge-pic-2.png" alt="">
    </div>
  </div>
  <div class="doc-desc-2">
    Do not add shadow to the badge.
  </div>
  <div style="margin-bottom:24px">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/badge-pic-3.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/badge-pic-4.png" alt="">
    </div>
  </div>
  <div class="doc-desc-2">
    Do not use the same color as the main elements.
  </div>
  <div style="margin-bottom:24px">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/badge-pic-5.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/badge-pic-6.png" alt="">
    </div>
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Design specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design specs</span>
  </div>

  <div class="docs-usage-spec docs-usage-center" style="height:280px">
    <img src="assets/img/doc/badge-spec.png"
    alt="">
  </div>

  <div class="doc-divider">

  </div>
</body>


</html>