<html>

<head></head>

<body>
  <div class="doc-category-title">
    Buttons &amp; Indicators
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Button
  </div>
  <div class="doc-desc-1">
    Buttons make common actions immediately visible and easy to perform with
    one click or tap. They can be used for any type
    of action, including navigation.
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Examples
    <span class="docs-more-example"></span>
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>

  <div class="doc-desc-2">
    Used most in the interface. Only use another style if a button requires
    more or less visual weight.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="button-basic"></div>
  </div>


  <div class="doc-desc-2">
    Use against shaded or colorful backgrounds.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="button-stroked"></div>
  </div>
  <div class="doc-desc-2">
    Used as second action beside primary button in a section or screen.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="button-text"></div>
  </div>
  <div class="doc-desc-2">
    Can be used when an action need to be emphasized.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="button-icon-left"></div>
  </div>
  <div class="doc-desc-2">
    Can be used when an action need to be emphasized.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="button-icon-right"></div>
  </div>
  <div class="doc-desc-2">
    Use for actions that aren&#x2019;t currently available.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="button-disable"></div>
  </div>


  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized button, just set
    <span class="doc-desc-2-highlight">color/disabled</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>color</td>
        <td>Theme color palette for the component.</td>
        <td>string</td>
        <td>primary</td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>disabled state of button</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Buttons should:
    <ul class="doc-list">
      <li>Be clearly and accurately labeled.</li>
      <li>Lead with strong, actionable verbs.</li>
      <li>Use established button colors appropriately. For example, only use a
        red button for an action that&#x2019;s difficult or impossible
        to undo.</li>
      <li>Prioritize the most important actions. Too many calls to action can
        cause confusion and make merchants unsure of what
        to do next.</li>
      <li>Be positioned in consistent locations in the interface.</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage &amp; Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>
  <div class="doc-desc-2">
    Buttons should be clear and predictable&#x2014;data analyst should be able
    to anticipate what will happen when they click a button.
    Never deceive them by mislabeling a button.
  </div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/button-predicable-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/button-predicable-dont.png" alt="">
    </div>
  </div>
  <div class="doc-desc-2">
    Don&#x2019;t wrap text. For maximum legibility, a text label should remain
    on a single line.
  </div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/button-singleline-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:160px">
      <img src="assets/img/doc/button-singleline-dont.png" alt="">
    </div>
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>

  <div class="docs-usage-spec docs-usage-center" style="height:280px">
    <img src="assets/img/doc/button-spec.png" alt="">
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
    <span class="docs-markdown-h3" id="component_location_for_designers">
      <span header-link="component_location_for_designers"></span>Component
      Location for Designers</span>
  </div><a class="doc-download-link" href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch">Download Sketch File</a>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path
    within the Sketch App UI:
  </div>
  <div sketch-link=""></div>






</body>

</html>
