<html>

<head></head>

<body>
  <div class="doc-category-title">
    Layout
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Card
  </div>
  <div class="doc-desc-1">
    <p>A card is a sheet of material that serves as an entry point to more detailed information.
    </p>
    <p>Cards display content composed of different elements whose size or supported actions vary.</p>
    <p>Cards are a convenient means of displaying content composed of different elements. They’re also well-suited for showcasing
      elements whose size or supported actions vary, like photos with captions of variable length.</p>
  </div>
  <div class="doc-desc-1" sketch-link></div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Examples
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-desc-2">
    Although cards can support multiple actions, UI controls, and an overflow menu, use restraint and remember that cards are
    entry points to more complex and detailed information.</div>
  <div class="doc-example-container">
    <div app-docs-example="card-basic"></div>
  </div>
  <div class="doc-divider">
  </div>
  <!-- <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized badge, just set
    <span class="doc-desc-2-highlight">color/matBadgeHidden/matBadgeOverlap/matBadgePosition/matBadgeSize</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>color</td>
        <td>The color of the badge. Can be primary, accent, or warn.</td>
        <td>string</td>
        <td>primary</td>
      </tr>
      <tr>
        <td>matBadgeHidden</td>
        <td>Whether the badge is hidden.</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>matBadgeOverlap</td>
        <td>Whether the badge should overlap its contents or not.</td>
        <td>boolean</td>
        <td>true</td>
      </tr>
      <tr>
        <td>matBadgePosition</td>
        <td>Position the badge should reside. Accepts any combination of 'above'|'below' and 'before'|'after'</td>
        <td>string</td>
        <td>above after</td>
      </tr>
      <tr>
        <td>matBadgeSize</td>
        <td>Size of the badge. Can be 'small', 'medium', or 'large'.</td>
        <td>string</td>
        <td>medium</td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div> -->
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    <p>Cards are surfaces that display content and actions on a single topic.</p>
    <p>They should be easy to scan for relevant and actionable information. Elements, like text and images, should be placed
      on them in a way that clearly indicates hierarchy.</p>
    <ul class="doc-list">
      <li>Contained: A card is identifiable as a single, contained unit.</li>
      <li>Independent: A card can stand alone, without relying on surrounding elements for context.</li>
      <li>Individual: A card cannot merge with another card, or divide into multiple cards.</li>
    </ul>
  </div>
 
  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage & Content guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content guidelines</span>
  </div>
  <div class="doc-desc-2">
      On desktop and mobile, cards can have a resting elevation of 1dp. They elevate to 8dp on hover.</div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:537px">
      <img src="assets/img/doc/card-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center docs-mt16" style="height:537px">
      <img src="assets/img/doc/card-dont.png" alt="">
    </div>
  </div>
  
  <div class="doc-title-2">
    Design specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design specs</span>
  </div>

  <div class="docs-usage-spec docs-usage-center" style="height:600px">
    <img src="assets/img/doc/card-spec.png" alt="">
  </div>


</body>


</html>