<html>
  <head></head>

  <body>
    <div class="doc-category-title ">
      Form Control
      <span class="docs-markdown-h3" id="contents">
        <span header-link="contents"></span>Contents</span
      >
    </div>
    <div class="doc-title-1">
      Checkbox
    </div>

    <div class="doc-desc-1">
      Checkboxes allow the user to select one or more items from a set.
      Checkboxes can be used to turn an option on or off.
    </div>

    <div class="doc-divider"></div>
    <div class="doc-title-2">
      Examples

      <span class="docs-more-example"></span>

      <span class="docs-markdown-h3" id="examples">
        <span header-link="examples"></span>Examples</span
      >
    </div>

    <div class="doc-title-4 mb-8">
      Basic checkboxes
    </div>

    <div class="doc-desc-2">
      Checkboxes are for making selections from a list. They let users select
      more than one item and allow for easy selection or deselection of all
      items with a parent checkbox.
    </div>
    <div class="doc-example-container">
      <div app-docs-example="checkbox-basic"></div>
    </div>

    <div class="doc-title-3">
      Configurable checkbox
    </div>
    <div class="doc-desc-2">
      Use this configuration below to customize a checkbox that fit your needs
      best:
    </div>
    <div class="doc-example-container">
      <div app-docs-example="checkbox-configurable"></div>
    </div>

    <div class="doc-divider"></div>

    <div class="doc-title-2">
      Props
      <span class="docs-markdown-h3" id="props">
        <span header-link="props"></span>Props</span
      >
    </div>

    <div class="doc-desc-2">
      To get a customized checkbox, just set
      <span class="doc-desc-2-highlight"
        >ariaLabel / ariaLabelledby / checked / color / disableRipple / disabled
        / id / indeterminate / labelPosition / name / required / value / change
        / indeterminateChange / inputId / ripple / checked / source</span
      >
    </div>

    <table class="doc-props-table">
      <thead>
        <tr>
          <th>property</th>
          <th>description</th>
          <th>type</th>
          <th>default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ariaLabel</td>
          <td>
            Attached to the aria-label attribute of the host element. In most
            cases, arial-labelledby will take precedence so this may be omitted.
          </td>
          <td>string</td>
          <td></td>
        </tr>

        <tr>
          <td>ariaLabelledby</td>
          <td>
            Users can specify the aria-labelledby attribute which will be
            forwarded to the input element
          </td>
          <td>string | null</td>
          <td></td>
        </tr>

        <tr>
          <td>checked</td>
          <td>Whether the checkbox is checked.</td>
          <td>boolean</td>
          <td></td>
        </tr>

        <tr>
          <td>color</td>
          <td>Theme color palette for the component.</td>
          <td>ThemePalette</td>
          <td></td>
        </tr>

        <tr>
          <td>disableRipple</td>
          <td>Whether ripples are disabled.</td>
          <td>boolean</td>
          <td></td>
        </tr>

        <tr>
          <td>disabled</td>
          <td>
            Whether the checkbox is disabled. This fully overrides the
            implementation provided by mixinDisabled, but the mixin is still
            required because mixinTabIndex requires it.
          </td>
          <td>any</td>
          <td></td>
        </tr>

        <tr>
          <td>id</td>
          <td>
            A unique id for the checkbox input. If none is supplied, it will be
            auto-generated.
          </td>
          <td>string</td>
          <td></td>
        </tr>

        <tr>
          <td>indeterminate</td>
          <td>
            Whether the checkbox is indeterminate. This is also known as
            &quot;mixed&quot; mode and can be used to represent a checkbox with
            three states, e.g. a checkbox that represents a nested list of
            checkable items. Note that whenever checkbox is manually clicked,
            indeterminate is immediately set to false.
          </td>
          <td>boolean</td>
          <td></td>
        </tr>

        <tr>
          <td>labelPosition</td>
          <td>
            Whether the label should appear after or before the checkbox.
            Defaults to &apos;after&apos;
          </td>
          <td>&apos;before&apos; | &apos;after&apos;</td>
          <td></td>
        </tr>

        <tr>
          <td>name</td>
          <td>Name value will be applied to the input element if present</td>
          <td>string | null</td>
          <td></td>
        </tr>

        <tr>
          <td>required</td>
          <td>Whether the checkbox is required.</td>
          <td>boolean</td>
          <td></td>
        </tr>

        <tr>
          <td>value</td>
          <td>The value attribute of the native input element</td>
          <td>string</td>
          <td></td>
        </tr>

        <tr>
          <td>change</td>
          <td>Event emitted when the checkbox&apos;s checked value changes.</td>
          <td>EventEmitter<matcheckboxchange></matcheckboxchange></td>
          <td></td>
        </tr>

        <tr>
          <td>indeterminateChange</td>
          <td>
            Event emitted when the checkbox&apos;s indeterminate value changes.
          </td>
          <td>EventEmitter<boolean></boolean></td>
          <td></td>
        </tr>

        <tr>
          <td>inputId</td>
          <td>Returns the unique id for the visual hidden input.</td>
          <td>string</td>
          <td></td>
        </tr>

        <tr>
          <td>ripple</td>
          <td>Reference to the ripple instance of the checkbox.</td>
          <td>MatRipple</td>
          <td></td>
        </tr>

        <tr>
          <td>checked</td>
          <td>The new checked value of the checkbox.</td>
          <td>boolean</td>
          <td></td>
        </tr>

        <tr>
          <td>source</td>
          <td>The source MatCheckbox of the event.</td>
          <td>MatCheckbox</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="doc-divider"></div>

    

    <div class="doc-title-2">
      Usage &amp; Content Guidelines
      <span class="docs-markdown-h3" id="content_guidelines">
        <span header-link="content_guidelines"></span>Content Guidelines</span
      >
    </div>

    <div class="doc-desc-2">
      Start with a capital letter
    </div>

    <div class="docs-guideline-group">
      <div
        class="docs-usage-do docs-usage-w50 docs-usage-center"
        style="height:160px"
      >
        <img src="assets/img/doc/checkbox-capital-ok.png" alt="" />
      </div>
      <div
        class="docs-usage-dont docs-usage-w50 docs-usage-center"
        style="height:160px"
      >
        <img src="assets/img/doc/checkbox-capital-fail.png" alt="" />
      </div>
    </div>

    <div class="doc-desc-2">
      Avoid using button toggles for a list of options
    </div>

    <div class="docs-guideline-group">
      <div
        class="docs-usage-do docs-usage-w50 docs-usage-center"
        style="height:160px"
      >
        <img src="assets/img/doc/checkbox-list-do.png" alt="" />
      </div>
      <div
        class="docs-usage-dont docs-usage-w50 docs-usage-center"
        style="height:160px"
      >
        <img src="assets/img/doc/checkbox-list-dont.png" alt="" />
      </div>
    </div>

    <div class="doc-divider"></div>

    <div class="doc-title-2">
      Design Specs
      <span class="docs-markdown-h3" id="design_specs">
        <span header-link="design_specs"></span>Design Specs</span
      >
    </div>

    <div class="docs-usage-spec docs-usage-center" style="height:280px">
      <img src="assets/img/doc/checkbox-design.png" alt="" />
    </div>

    <div class="doc-divider"></div>
    <div class="doc-title-2">
      Component Location for Designers
      <span class="docs-markdown-h3" id="component_location_for_designers">
        <span header-link="component_location_for_designers"></span>Component
        Location for Designers</span
      >
    </div>
    <a
      class="doc-download-link"
      href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch"
      >Download Sektch File</a
    >
    <div class="doc-desc-2">
      For designers, to add this component to your design, follow this path
      within the Sketch App UI:
    </div>
    <div sketch-link=""></div>
  </body>
</html>
