<html>

<head></head>

<body>
  <div class="doc-category-title ">
    Foundation
    <span class="docs-markdown-h3"
          id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Colors
  </div>

  <div class="doc-desc-1">
    Color system uses an organized approach to applying color to Vizient UI. In this system, a primary and a secondary color
    are typically selected to represent Vizient brand. Dark and light variants of each color can then be applied to UI in
    different ways.
  </div>


  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Branding and Header, CTAs color
    <span class="docs-markdown-h3"
          id="branding_header">
      <span header-link="branding_header"></span>Branding and Header, CTAs color</span>
  </div>

  <div class="doc-desc-2">
    This is the color that represents Vizient. It is used for all Vizients headers and CTAs.
  </div>

  <div class="doc-color-container">
    <div class="doc-color-block doc-color-border-top">
      <div class="doc-color-background doc-color-orange doc-color-level1"></div>
      <span class="doc-color-name">viz-orange</span>
      <span class="doc-color-opacity">#FF4E00, 4%</span>
    </div>
    <div class="doc-color-block">
      <div class="doc-color-background doc-color-orange doc-color-level2"></div>
      <span class="doc-color-name">viz-orange</span>
      <span class="doc-color-opacity">#FF4E00, 12%</span>
    </div>
    <div class="doc-color-block">
      <div class="doc-color-background doc-color-orange doc-color-level3"></div>
      <span class="doc-color-name">viz-orange</span>
      <span class="doc-color-opacity">#FF4E00, 16%</span>
    </div>
    <div class="doc-color-primary doc-color-border-bottom doc-color-text-color-white">
      <div class="doc-color-background doc-color-orange"></div>
      <span class="doc-color-name">viz-orange</span>
      <span class="doc-color-opacity">#FF4E00, 100%</span>
    </div>
  </div>

  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Primary Color
    <span class="docs-markdown-h3"
          id="primary_colors">
      <span header-link="primary_colors"></span>Primary Color</span>
  </div>

  <div class="doc-desc-2">
    A primary color is the color displayed most frequently across Vizient products’ screens and components. To create contrast
    between UI elements,you can use light or dark variants of your primary color on each elements.
  </div>

  <div class="doc-color-container">
    <div class="doc-color-block doc-color-border-top">
      <div class="doc-color-background doc-color-purple doc-color-level1"></div>
      <span class="doc-color-name">viz-purple</span>
      <span class="doc-color-opacity">#7F5EBA, 4%</span>
    </div>
    <div class="doc-color-block">
      <div class="doc-color-background doc-color-purple doc-color-level2"></div>
      <span class="doc-color-name">viz-purple</span>
      <span class="doc-color-opacity">#7F5EBA, 12%</span>
    </div>
    <div class="doc-color-block">
      <div class="doc-color-background doc-color-purple doc-color-level3"></div>
      <span class="doc-color-name">viz-purple</span>
      <span class="doc-color-opacity">#7F5EBA, 16%</span>
    </div>
    <div class="doc-color-primary doc-color-border-bottom doc-color-text-color-white">
      <div class="doc-color-background doc-color-purple"></div>
      <span class="doc-color-name">viz-purple</span>
      <span class="doc-color-opacity">#7F5EBA, 100%</span>
    </div>
  </div>



  <div class="doc-divider">
  </div>

  <div class="doc-title-2">
    Secondary (Accent) color
    <span class="docs-markdown-h3"
          id="secondary_colors">
      <span header-link="secondary_colors"></span>Secondary (Accent) color</span>
  </div>

  <div class="doc-desc-2">
    A secondary color provides more ways to accent and distinguish Vizient product. Having a secondary color is optional, and
    should be applied sparingly to accent select parts of your UI. Just like the primary color, your secondary color can
    have dark and light variants.
  </div>

  <div class="doc-color-container">
    <div class="doc-color-block doc-color-border-top">
      <div class="doc-color-background doc-color-blue doc-color-level1"></div>
      <span class="doc-color-name">viz-blue</span>
      <span class="doc-color-opacity">#01ADAB, 4%</span>
    </div>
    <div class="doc-color-block">
      <div class="doc-color-background doc-color-blue doc-color-level2"></div>
      <span class="doc-color-name">viz-blue</span>
      <span class="doc-color-opacity">#01ADAB, 12%</span>
    </div>
    <div class="doc-color-block">
      <div class="doc-color-background doc-color-blue doc-color-level3"></div>
      <span class="doc-color-name">viz-blue</span>
      <span class="doc-color-opacity">#01ADAB, 16%</span>
    </div>
    <div class="doc-color-primary doc-color-border-bottom">
      <div class="doc-color-background doc-color-blue"></div>
      <span class="doc-color-name">viz-blue</span>
      <span class="doc-color-opacity">#01ADAB, 100%</span>
    </div>
  </div>

  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Tertiary colors
    <span class="docs-markdown-h3"
          id="tertiary_colors">
      <span header-link="tertiary_colors"></span>Tertiary colors</span>
  </div>

  <div class="doc-desc-2">
    Tertiary colors are used for data table statuses and texts.
  </div>

  <div class="doc-color-containers-wrapper">

    <div class="doc-color-container docs-mr24 docs-mb24">
      <div class="doc-color-block doc-color-border-top">
        <div class="doc-color-background doc-color-yellow doc-color-level1"></div>
        <span class="doc-color-name">viz-yellow</span>
        <span class="doc-color-opacity">#FFC02E, 4%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-yellow doc-color-level2"></div>
        <span class="doc-color-name">viz-yellow</span>
        <span class="doc-color-opacity">#FFC02E, 12%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-yellow doc-color-level3"></div>
        <span class="doc-color-name">viz-yellow</span>
        <span class="doc-color-opacity">#FFC02E, 16%</span>
      </div>
      <div class="doc-color-primary doc-color-border-bottom">
        <div class="doc-color-background doc-color-yellow"></div>
        <span class="doc-color-name">viz-yellow</span>
        <span class="doc-color-opacity">#FFC02E, 100%</span>
      </div>
    </div>

    <div class="doc-color-container docs-mr24 docs-mb24">
      <div class="doc-color-block doc-color-border-top">
        <div class="doc-color-background doc-color-green doc-color-level1"></div>
        <span class="doc-color-name">viz-green</span>
        <span class="doc-color-opacity">#9CD020, 4%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-green doc-color-level2"></div>
        <span class="doc-color-name">viz-green</span>
        <span class="doc-color-opacity">#9CD020, 12%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-green doc-color-level3"></div>
        <span class="doc-color-name">viz-green</span>
        <span class="doc-color-opacity">#9CD020, 16%</span>
      </div>
      <div class="doc-color-primary doc-color-border-bottom">
        <div class="doc-color-background doc-color-green"></div>
        <span class="doc-color-name">viz-green</span>
        <span class="doc-color-opacity">#9CD020, 100%</span>
      </div>
    </div>

    <div class="doc-color-container docs-mr24 docs-mb24">
      <div class="doc-color-block doc-color-border-top">
        <div class="doc-color-background doc-color-gray doc-color-level1"></div>
        <span class="doc-color-name">viz-gray</span>
        <span class="doc-color-opacity">#696969, 4%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-gray doc-color-level2"></div>
        <span class="doc-color-name">viz-gray</span>
        <span class="doc-color-opacity">#696969, 12%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-gray doc-color-level3"></div>
        <span class="doc-color-name">viz-gray</span>
        <span class="doc-color-opacity">#696969, 16%</span>
      </div>
      <div class="doc-color-primary doc-color-border-bottom doc-color-text-color-white">
        <div class="doc-color-background doc-color-gray"></div>
        <span class="doc-color-name">viz-gray</span>
        <span class="doc-color-opacity">#696969, 100%</span>
      </div>
    </div>

    <div class="doc-color-container docs-mr24 docs-mb24">
      <div class="doc-color-block doc-color-border-top">
        <div class="doc-color-background doc-color-black doc-color-level1"></div>
        <span class="doc-color-name">viz-black</span>
        <span class="doc-color-opacity">#000000, 4%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-black doc-color-level2"></div>
        <span class="doc-color-name">viz-black</span>
        <span class="doc-color-opacity">#000000, 12%</span>
      </div>
      <div class="doc-color-block">
        <div class="doc-color-background doc-color-black doc-color-level3"></div>
        <span class="doc-color-name">viz-black</span>
        <span class="doc-color-opacity">#000000, 16%</span>
      </div>
      <div class="doc-color-primary doc-color-border-bottom doc-color-text-color-white">
        <div class="doc-color-background doc-color-black "></div>
        <span class="doc-color-name">viz-black</span>
        <span class="doc-color-opacity">#000000, 100%</span>
      </div>
    </div>

  </div>

  <div class="doc-divider">
  </div>

  <div class="doc-title-2">
    Charts and Graphs colors
    <span class="docs-markdown-h3"
          id="chart_colors">
      <span header-link="chart_colors"></span>Charts and Graphs colors</span>
  </div>

  <div class="doc-desc-2">
    Tertiary colors are used for most Vizient products&#x2019; chart and graph.
  </div>


  <div class="doc-color-strip-wrapper">
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-teal docs-mr24 docs-mb24">
      <span>chart-teal</span>
      <span>#00CC99</span>
    </div>
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-purple docs-mr24 docs-mb24">
      <span>chart-purple</span>
      <span>#9966FF</span>
    </div>
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-orange docs-mr24 docs-mb24">
      <span>chart-orange</span>
      <span>#FF9933</span>
    </div>
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-blue docs-mr24 docs-mb24">
      <span>chart-blue</span>
      <span>#3399FF</span>
    </div>
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-green docs-mr24 docs-mb24">
      <span>chart-green</span>
      <span>#99CC33</span>
    </div>
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-pink docs-mr24 docs-mb24">
      <span>chart-pink</span>
      <span>#FF6699</span>
    </div>
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-yellow docs-mr24 docs-mb24">
      <span>chart-yellow</span>
      <span>#FFFF33</span>
    </div>
    <div class="doc-color-strip doc-color-text-color-black doc-color-chart-red docs-mr24 docs-mb24">
      <span>chart-red</span>
      <span>#FF3333</span>
    </div>
  </div>

  <div class="doc-divider"></div>



  <div class="doc-title-2">
    Text Colors
    <span class="docs-markdown-h3"
          id="text_colors">
      <span header-link="props"></span>Text Colors</span>
  </div>

  <div class="doc-desc-2">
    Text or icons, appear in front of surfaces using primary colors, those elements should use colors specifically designed to
    appear clearly and legibly against the colors behind them.
  </div>


  <div class="doc-color-strip-wrapper">
    <div class="doc-color-strip doc-color-black docs-mb24 docs-mr24 doc-color-text-color-white">
      <span>viz-black</span>
      <span>#000000</span>
    </div>
    <div class="doc-color-strip doc-color-gray docs-mb24 docs-mr24 doc-color-text-color-white">
      <span>viz-gray</span>
      <span>#696969</span>
    </div>
    <!-- <div class="doc-color-strip doc-color-dark-gray doc-color-text-color-white">
      <span>viz-dark-gray</span>
      <span>#9F9F9F</span>
    </div>
    <div class="doc-color-strip doc-color-purple doc-color-text-color-white">
      <span>viz-purple</span>
      <span>#7F5EBA</span>
    </div> -->
  </div>

  <div class="doc-divider"></div>

  <div class="doc-title-2">
    Background Colors
    <span class="docs-markdown-h3"
          id="background_colors">
      <span header-link="background_colors"></span>Background Colors</span>
  </div>

  <div class="doc-desc-2">
    Background colors is used to make the text easy to read or to highlight selected item.
  </div>


  <div class="doc-color-strip-wrapper">
    <div class="doc-color-strip doc-color-light-gray docs-mb24 docs-mr24 doc-color-text-color-black">
      <span>viz-light-gray</span>
      <span>#C3C3C3</span>
    </div>
    <div class="doc-color-strip doc-color-extra-light-gray docs-mb24 docs-mr24 doc-color-text-color-black">
      <span>viz-extra-light-gray</span>
      <span>#E9E9E9</span>
    </div>
    <div class="doc-color-strip doc-color-gray-special-1 docs-mr24 docs-mb24 doc-color-text-color-black">
      <span></span>
      <span>#F1F1F1</span>
    </div>
    <div class="doc-color-strip doc-color-gray-special-2 docs-mr24 docs-mb24 doc-color-text-color-black">
      <span></span>
      <span>#FAFAFA</span>
    </div>
  </div>

  <div class="doc-divider"></div>

  <div class="doc-title-2">
    Best Practice
    <span class="docs-markdown-h3"
          id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Colors should:
    <ul class="doc-list">
      <li>
        Hierarchical: Color indicates which elements are interactive, how they relate to other elements, and their level of prominence.
        Important elements should stand out the most.
      </li>
      <li>
        Legible: Text and important elements, like icons, should meet legibility standards when appearing on colored backgrounds,
        across all screen and device types.
      </li>
      <li>
        Expressive: Reinforce your brand by showing brand colors at memorable moments that reinforce your brand&#x2019;s style.
      </li>
    </ul>
  </div>






</body>

</html>