<html>

<head></head>

<body>
  <div class="doc-category-title">
    Form Controls
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">Datepicker</div>
  <div class="doc-desc-1">
    The Datepicker component allows the user to enter a date or date range
    either through text input or by choosing from the
    calendar.
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2 mb-24">
    Examples
    <span class="docs-more-example"></span>
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>

  <div class="doc-title-4 mb-8">Basic Datepicker</div>
  <div class="doc-desc-2 mb-16">Use basic datepicker to let user enter a date.</div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-single"></div>
  </div>


  <div class="doc-title-4 mb-8">Datepicker Start Date</div>
  <div class="doc-desc-2">
    It can be set to month, year, or multi-year; by default it will open to
    month view. The month, year, or range of years that
    the calendar opens to is determined by first checking if any date is
    currently selected, if so it will open to the
    month or year containing that date. Otherwise it will open to the month or
    year containing today&apos;s date.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-start-date"></div>
  </div>

  <div class="doc-title-4 mb-8">Datepicker Selected Value</div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-selected-value"></div>
  </div>

  <div class="doc-title-4 mb-8">Datepicker with Min &amp; Max Validation</div>
  <div class="doc-desc-2">
    There are three properties that add date validation to the datepicker
    input. The first two are the min and max properties.
    In addition to enforcing validation on the input, these properties will
    disable all dates on the calendar popup before
    or after the respective values and prevent the user from advancing the
    calendar past the month or year (depending on
    current view) containing the min or max date.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-min-max-validation"></div>
  </div>

  <div class="doc-title-4 mb-8">Datepicker with Filter Validation</div>
  <div class="doc-desc-2">
    this will also disable the dates on the calendar that are invalid. However,
    one important difference between using this datepicker
    vs using Datepicker with Min &amp; Max Validation is that filtering out all
    dates before or after a certain point, will
    not prevent the user from advancing the calendar past that point.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-filter-validation"></div>
  </div>

  <div class="doc-title-4 mb-8">Datepicker Emulating a Year and Month Picker</div>
  <div class="doc-desc-2">
    When a year or a month is selected in multi-year and year views
    respectively, the selected year and selected month outputs
    emit a normalized date representing the chosen year or month. By
    &quot;normalized&quot; we mean that the dates representing years
    will have their month set to January and their day set to the 1st. Dates
    representing months will have their day set
    to the 1st of the month.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-emulating"></div>
  </div>

  <div class="doc-title-4 mb-8">Daterange Picker<span modified-label=""></span></div>
  <div class="doc-desc-2">
    This date range picker component creates a dropdown of two calendars for
    user selecting a range of dates, times, or predefined
    ranges like &#x201C;Quarter 1&#x201D;, &#x201C;Quarter 2&#x201D;,
    &#x201C;Quarter 3&#x201D; and &#x201C;Quarter 4&#x201D;.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-basic"></div>
  </div>

  <div class="doc-title-4 mb-8">Monthrange Picker<span modified-label=""></span></div>
  <div class="doc-desc-2">
    Use in forms to let user enter a month range.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="month-picker-range"></div>
  </div>

  <div class="doc-title-4 mb-8">Daterange Picker with Min &amp; Max Validation<span
      modified-label=""></span></div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-range-validation"></div>
  </div>



  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized datepicker, just set
    <span class="doc-desc-2-highlight">date/onApply</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>date</td>
        <td>Specifies the binded date</td>
        <td>Date</td>
        <td>Null</td>
      </tr>
      <tr>
        <td>onApply</td>
        <td>Specifies the callback clicking &apos;Apply&apos; button</td>
        <td>function</td>
        <td>undefined</td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practice
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    The Datepicker component should:
    <ul class="doc-list">
      <li>Allow user to input a date or date range.</li>
      <li>
        Be inputed through text input or by choosing date from calendar.
      </li>
      <li>Always display the current date by default.</li>
    </ul>
  </div>

  <div class="doc-divider"></div>

  <div class="doc-title-2">
    Usage &amp; Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>
  <div class="doc-desc-2">
    Always disable the dates that the user should not be able interact with.
  </div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:291px">
      <img src="assets/img/doc/datepicker-disable-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:291px">
      <img src="assets/img/doc/datepicker-disable-dont.png" alt="">
    </div>
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>

  <div class="docs-usage-spec docs-usage-center" style="height:500px">
    <img src="assets/img/doc/datepicker-spec.png" alt="">
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
    <span class="docs-markdown-h3" id="component_location_for_designers">
      <span header-link="component_location_for_designers"></span>Component
      Location for Designers</span>
  </div>
  <a class="doc-download-link" href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch">Download Sketch File</a>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path
    within the Sketch App UI:
  </div>
  <div sketch-link=""></div>


</body>

</html>
