<html>

<head></head>


<body>
  <div class="doc-category-title">
    Form Controls
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Datepicker
  </div>
  <div class="doc-desc-1">
      The Datepicker component allows the user to enter a date or date range either through text input or by choosing from the calendar.
  </div>
   
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Example
    <span class="docs-more-example" doc-viewer-extend="exampleWrapper"></span>
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>

  <div class="doc-desc-2">
      Use in forms to allow the user to enter a date or date range.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="date-picker-single"></div>
  </div>

  <div id="exampleWrapper">
    <div class="doc-desc-2">
      Use in forms to let user enter a date range.
    </div>
    <div class="doc-example-container">
      <div app-docs-example="date-picker-basic"></div>
    </div>
  </div>

  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
      To get a customized datepicker, just set
    <span class="doc-desc-2-highlight">date/onApply</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>date</td>
        <td>Specifies the binded date</td>
        <td>Date</td>
        <td>Null</td>
      </tr>
      <tr>
        <td>onApply</td>
        <td>Specifies the callback clicking 'Apply' button</td>
        <td>function</td>
        <td>undefined</td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practice
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
      The Datepicker component should:
    <ul class="doc-list">
      <li>Allow user to input a date or date range.</li>
      <li>Be inputed through text input or by choosing date from calendar.</li>
      <li>Always display the current date by default.</li>
    </ul>
  </div>

  <div class="doc-divider"></div>

  <div class="doc-title-2">
    Usage & Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>
  <div class="doc-desc-2">
      Always disable the dates that the user should not be able interact with.
  </div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:291px">
      <img src="assets/img/doc/datepicker-disable-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:291px">
      <img src="assets/img/doc/datepicker-disable-dont.png" alt="">
    </div>
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>

  <div class="docs-usage-spec docs-usage-center" style="height:635px">
    <img src="assets/img/doc/datepicker-spec.png" alt="">
  </div>


  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
  </div>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path within the Sketch App UI:
  </div>
  <div sketch-link></div>

  </div>
</body>


</html>