<html>

<head></head>

<body>
  <div class="doc-category-title">
    Get Started
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>contents</span>
  </div>
  <div class="doc-title-1">
    Designers
  </div>
  <div class="doc-desc-1">
    The purpose of the Toolkit Material Library is to streamline the process of Vizient&#x2019;s design workflow. It is a crucial resource
    and acts as the &#x2018;source for truth&#x2019; for all UI components for which Vizient products are comprised of.
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Sketch Library
    <span class="docs-markdown-h3" id="sketch_library">
      <span header-link="step1"></span>Sketch Library</span>
  </div>
  <div class="doc-desc-2">
    The Vizient team encourages the use of Sketch library for the easiest access to the UI toolkit symbols and updates.
  </div>
  <div class="doc-bold-title">
    Download the UI toolkit
  </div>
  <div class="doc-desc-2">
    <a href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch" class="doc-desc-2-highlight-text">Download Sketch file</a> from Vizient toolkit repo.
  </div>


  <div class="doc-bold-title">
    Working with UI toolkit as a Sketch library
  </div>
  <div class="doc-desc-2">
    Sketch library makes working across multiple files easy. To have access to all of the &#x2018;Toolkit Material Library&#x2019; symbols,
    you&apos;ll need to load the files as a Sketch libraries.

    <ul>
      <li class="doc-desc-2">
        Open Sketch &gt; Preferences &gt; Libraries &gt; Add Library
      </li>
      <li class="doc-desc-2">
        Navigate to find and select the &#x2018;Toolkit Material Library&#x2019; Sketch file
      </li>
      <li class="doc-desc-2">
        Now you will be able to access all of the icons from any Sketch document from the insert menu.
      </li>
    </ul>

  </div>

  <div class="doc-bold-title">
    Receiving library updates
  </div>

  <div class="doc-desc-2">
    <p>
      To receive updates to the Toolkit Material Library symbols make sure you periodically download the latest kits from the Vizient
      styleguide. Once you update your local copy with the latest version you will automatically receive symbol updates inside
      of Sketch.
    </p>
    <p>
      Updates are indicated by a badge that Sketch displays in the top right hand corner. You&#x2019;ll be able to see all of the symbols
      that have been updated and select which ones you want to receive at any given time.
    </p>
  </div>

  <img src="assets/img/doc/library_update.svg" height="320" width="690" class="docs-mt16" alt="">

  <div class="doc-divider"></div>

  <div class="doc-title-2">
    Symbol Overrides
    <span class="docs-markdown-h3" id="symbol_overrides">
      <span header-link="step2"></span>Symbol Overrides</span>
  </div>
  <div class="doc-desc-2">
    <p>
      Using symbol overrides can significantly speed up your workflow. Any higher level symbol contains interchangeable overrides
      to help you quickly create dynamic workflows.
    </p>
    <p>
      The example below demonstrates how to change an input field from it&#x2019;s default to selected style.
    </p>
  </div>

  <img src="assets/img/doc/symbol_overrides.svg" height="504" width="684" class="docs-mt16" alt="">

  <div class="doc-divider"></div>

  <div class="doc-title-2">
    Colors
    <span class="docs-markdown-h3" id="color">
      <span header-link="step3"></span>Colors</span>
  </div>
  <div class="doc-desc-2">
    <p>Our colours are vital to our identity. The palettes offer variety and flexibility, from colourful typographical illustrations
      to a subtle background shade.</p>
    <p>
      You can access the Document Colors from the color picker in this document, or load the included color palette file into any
      Sketch document using the Sketch Palettes plugin.
    </p>
  </div>

  <img src="assets/img/doc/designers_color.svg" height="637" width="844" class="docs-mt16" alt="">

  <div class="doc-desc-2">
    <p>
      The toolkit system includes the resources needed to create user interfaces consistent with the Vizient&#x2019;s product principles,
      design language, and best practices. Rather than focusing on pixels, developers can focus on the application logic,
      while designers can focus on user experiences, interactions, and flows.
    </p>

  </div>




</body>

</html>