<html>
  <head></head>

  <body>
    <div class="doc-category-title">
      Layouts
      <span class="docs-markdown-h3" id="contents">
        <span header-link="contents"></span>Contents</span
      >
    </div>
    <div class="doc-title-1">Divider</div>
    <div class="doc-desc-1">
      Divider is a component that allows for styling of a line separator with
      various orientation options.
    </div>
    <div class="doc-divider"></div>
    <div class="doc-title-2">
      Examples
      <span class="docs-markdown-h3" id="examples">
        <span header-link="examples"></span>Examples</span
      >
    </div>
    <div class="doc-desc-2">
      A divider is a thin line that groups content in lists and layouts.
    </div>
    <div class="doc-example-container">
      <div app-docs-example="divider"></div>
    </div>
    <div class="doc-divider"></div>
    <div class="doc-title-2">
      Props
      <span class="docs-markdown-h3" id="props">
        <span header-link="props"></span>Props</span
      >
    </div>
    <div class="doc-desc-2">
      To get a customized badge, just set
      <span class="doc-desc-2-highlight"
        >color/matBadgeHidden/matBadgeOverlap/matBadgePosition/matBadgeSize</span
      >
    </div>
    <table class="doc-props-table">
      <thead>
        <tr>
          <th>property</th>
          <th>description</th>
          <th>type</th>
          <th>default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>inset</td>
          <td>Whether the divider is an inset divider.</td>
          <td>boolean</td>
          <td>false</td>
        </tr>
        <tr>
          <td>vertical</td>
          <td>Whether the divider is vertically aligned.</td>
          <td>boolean</td>
          <td>false</td>
        </tr>
      </tbody>
    </table>
    <div class="doc-divider"></div>
    <div class="doc-title-2">
      Best Practices
      <span class="docs-markdown-h3" id="best_practices">
        <span header-link="best_practices"></span>Best Practices</span
      >
    </div>

    <div class="doc-desc-2">
      <p>Dividers separate content into clear groups.</p>
      <ul class="doc-list">
        <li>
          Subtle: Dividers should be noticeable in a layout, but not jarring.
        </li>
        <li>
          Secondary: Dividers should only be used if elements cannot be
          separated using white space.
        </li>
        <li>
          Infrequent: Use dividers sparingly, to create groupings rather than
          separate items.
        </li>
      </ul>
    </div>

    <div class="doc-divider"></div>

    <div class="doc-title-2">
      Usage &amp; Content Guidelines
      <span class="docs-markdown-h3" id="content_guidelines">
        <span header-link="content_guidelines"></span>Content Guidelines</span
      >
    </div>
    <div class="doc-desc-2">
      All dividers in a list should be consistent continuously.
    </div>
    <div class="docs-guideline-group">
      <div
        class="docs-usage-do docs-usage-w100 docs-usage-center"
        style="height:304px"
      >
        <img src="assets/img/doc/divider-do.png" alt="" />
      </div>
      <div
        class="docs-usage-dont docs-usage-w100 docs-usage-center docs-mt16"
        style="height:304px"
      >
        <img src="assets/img/doc/divider-dont.png" alt="" />
      </div>
    </div>

    <div class="doc-title-2">
      Design Specs
      <span class="docs-markdown-h3" id="design_specs">
        <span header-link="design_specs"></span>Design Specs</span
      >
    </div>

    <div class="docs-usage-spec docs-usage-center" style="height:280px">
      <img src="assets/img/doc/divider-spec.png" alt="" />
    </div>

    <div class="doc-divider"></div>
    <div class="doc-title-2">
      Component Location for Designers
      <span class="docs-markdown-h3" id="component_location_for_designers">
        <span header-link="component_location_for_designers"></span>Component
        Location for Designers</span
      >
    </div>
    <a
      class="doc-download-link"
      href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch"
      >Download Sektch File</a
    >
    <div class="doc-desc-2">
      For designers, to add this component to your design, follow this path
      within the Sketch App UI:
    </div>
    <div sketch-link=""></div>
  </body>
</html>
