<html>

<head></head>

<body>
  <div class="doc-category-title">
    Naviagtion
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Header & Footer
  </div>
  <div class="doc-desc-1">
      Header & Footer appear on top & botton all other surfaces in an app, displaying information and actions relating to the current screen.
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Examples
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-desc-2">
      Header & Footer are a special kind of toolbar that’s used for branding, navigation, search, and actions.
  </div>
  <div class="doc-example-container">
    <div app-docs-example="header-footer-basic"></div>
  </div>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized header & footer, just set
    <span class="doc-desc-2-highlight">title/userName/brandLink/svgIcon/type/leftBrands/rightBrands</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title</td>
        <td>Title for the header.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>userName</td>
        <td>UserName for the navbar-right.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>brandLink</td>
        <td>Link for the brand.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>svgIcon</td>
        <td>Url for the svgIcon.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>type</td>
        <td>Type of viz-header.</td>
        <td>string</td>
        <td>primary</td>
      </tr>
      <tr>
        <td>leftBrands</td>
        <td>List of links on left part of viz-footer.</td>
        <td>array</td>
        <td>[ ]</td>
      </tr>
      <tr>
        <td>rightBrands</td>
        <td>List of links on right part of viz-footer.</td>
        <td>array</td>
        <td>[ ]</td>
      </tr>
      <tr>
        <td>rightBtnClick</td>
        <td>The callback function that is triggered when right button is pressed.</td>
        <td>function(e)</td>
        <td></td>
      </tr>
      <tr>
        <td>hamburgerClick</td>
        <td>The callback function that is triggered when hamburger button is pressed.</td>
        <td>function(e)</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Header and Footer should:
    <ul class="doc-list">
      <li>Persistent: Header and Footer appear at the top and bottom of each screen in an app, and can disappear upon scroll.</li>
      <li>Guiding: Header and Footer provide a reliable way to guide users through an app.</li>
      <li>Consistent:  Header and Footer have a consistent position and content to increase familiarity.</li>
      <li>Immediate: Header and Footer can be accessed from any scroll position.</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage & Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>
  <div class="doc-desc-2">
      If title text is long, use a prominent app bar and wrap the title to two lines. Don’t truncate text, hiding the full title may cause misunderstanding. Don’t shrink text to fit on a single line.
  </div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:272px">
      <img src="assets/img/doc/header-footer-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center" style="height:272px;margin-top:24px">
      <img src="assets/img/doc/header-footer-dont.png" alt="">
    </div>
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>

  <div class="docs-usage-spec docs-usage-center" style="height:400px">
    <img src="assets/img/doc/header-footer-spec.png" alt="">
  </div>

  
</body>


</html>