<html>

<head></head>

<body>
  <div class="doc-category-title">
    Global Errors
    <span class="docs-markdown-h3"
          id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    HTTP Status Codes: Error States
  </div>
  <div class="doc-desc-1">
    An error state is a screen that is shown when things go wrong. It is an example of a situation where the user is getting
    something other than their desired state. Since errors can occur in surprising combinations, these states can include
    anything from incompatible user operations (such as invalid data input), to the inability of an app to connect to the
    server, or even the inablity to process a user request.
  </div>

  <div class="doc-divider"></div>

  <div class="doc-title-2 docs-mb24">
    Status code: 400 Password expired
    <span class="docs-markdown-h3"
          id="passwordexpired">
      <span header-link="passwordexpired"></span>Status code: 400 Password expired</span>
  </div>

  <img src="assets/img/doc/password_expired.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The request could not be understood by the server due to malformed syntax. Users should not repeat the request without modifications.
  </div>

  <a class="template-live-link" href="../400">
    See Live Template
  </a>

  <div class="doc-divider">
  </div>

  <div class="doc-title-2 docs-mb24">
    Status code: 401 Unauthorized
    <span class="docs-markdown-h3"
          id="unauthorized">
      <span header-link="unauthorized"></span>Status code: 401 Unauthorized</span>
  </div>
  <img src="assets/img/doc/unauthorized.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The server cannot or will not process the request due to an apparent client error (e.g., malformed request syntax, size too
    large, invalid request message framing, or deceptive request routing).
  </div>
  <a class="template-live-link" href="../401">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>


  <div class="doc-title-2 docs-mb24">
    Status code: 403 Forbidden
    <span class="docs-markdown-h3"
          id="forbidden">
      <span header-link="forbidden"></span>Status code: 403 Forbidden</span>
  </div>
  <img src="assets/img/doc/forbidden.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource,
    or may need an account of some sort.
  </div>
  <a class="template-live-link" href="../403">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>


  <div class="doc-title-2 docs-mb24">
    Status code: 404 Not found
    <span class="docs-markdown-h3"
          id="notfound">
      <span header-link="notfound"></span>Status code: 404 Not found</span>
  </div>
  <img src="assets/img/doc/notfound.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.
  </div>
  <a class="template-live-link" href="../404">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>


  <div class="doc-title-2 docs-mb24">
    Status code: 422 Unprocessable entity
    <span class="docs-markdown-h3"
          id="unprocessableentity">
      <span header-link="unprocessableentity"></span>Status code: 422 Unprocessable entity</span>
  </div>
  <img src="assets/img/doc/unprocessableentity.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The request was well-formed but was unable to be followed due to semantic errors.
  </div>
  <a class="template-live-link" href="../422">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>


  <div class="doc-title-2 docs-mb24">
    Status code: 500 Internal server error
    <span class="docs-markdown-h3"
          id="servererror">
      <span header-link="servererror"></span>Status code: 500 Internal server error</span>
  </div>
  <img src="assets/img/doc/servererror.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    A generic error message, given when an unexpected condition was encountered and no more specific message is suitable.
  </div>
  <a class="template-live-link" href="../500">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>


  <div class="doc-title-2 docs-mb24">
    Status code: 501 Not implemented
    <span class="docs-markdown-h3"
          id="notimplemented">
      <span header-link="notimplemented"></span>Status code: 501 Not implemented</span>
  </div>
  <img src="assets/img/doc/notimplemented.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The server either does not recognize the request method, or it lacks the ability to fulfil the request. Usually this implies
    future availability (e.g., a new feature of a web-service API).
  </div>
  <a class="template-live-link" href="../501">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>


  <div class="doc-title-2 docs-mb24">
    Status code: 502 Bad gateway
    <span class="docs-markdown-h3"
          id="badgateway">
      <span header-link="badgateway"></span>Status code: 502 Bad gateway</span>
  </div>
  <img src="assets/img/doc/badgateway.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The server was acting as a gateway or proxy and received an invalid response from the upstream server.
  </div>
  <a class="template-live-link" href="../502">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>


  <div class="doc-title-2 docs-mb24">
    Status code: 503 Service unavailable
    <span class="docs-markdown-h3"
          id="serviceunavailable">
      <span header-link="serviceunavailable"></span>Status code: 503 Service unavailable</span>
  </div>
  <img src="assets/img/doc/serviceunavailable.png"
       alt=""
       srcset=""
       height="484px"
       width="800px"
       class="docs-mb24">

  <div class="doc-desc-2 docs-mb16">
    The server is currently unavailable (because it is overloaded or down for maintenance). Generally, this is a temporary state.
  </div>
  <a class="template-live-link" href="../503">
    See Live Template
  </a>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2 docs-mb24">
    Props
    <span class="docs-markdown-h3"
          id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized checkbox, just set
    <span class="doc-desc-2-highlight">code</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>code</td>
        <td>decide which error state want to show</td>
        <td>string</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>

  <div class="doc-title-2 docs-mb24">
    Best Practice
    <span class="docs-markdown-h3"
          id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Error states should:
    <ul class="doc-list">
      <li>Right time of informing about errors</li>
      <li>Right place for validation output</li>
      <li>Clear language for the message</li>
      <li>States should be applied consistently across components in order to increase usability.</li>
    </ul>
  </div>

  <div class="doc-divider"></div>

  <div class="doc-title-2 docs-mb24">
    Usage &amp; Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>
  <div class="doc-desc-2">
    Error text should be legible, with a proper color and noticecable contrast against its background.
  </div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center docs-mb16" style="height:326px">
      <img src="assets/img/doc/httpstatus-color-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center" style="height:326px">
      <img src="assets/img/doc/httpstatus-color-dont.png" alt="">
    </div>
  </div>
  <div class="doc-desc-2">
    Keep the component’s size consistent and fits the screen proportionately
  </div>
  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center-no-scale docs-mb16" style="height:530px">
      <img src="assets/img/doc/httpstatus-size-do.png" alt="" height="427px" width="696px">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center-no-scale" style="height:530px">
      <img src="assets/img/doc/httpstatus-size-dont.png" alt="" height="427px" width="696px">
    </div>
  </div>
  <div class="doc-divider"></div>
  <div class="doc-title-2 docs-mb24">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>


  <div class="docs-usage-spec docs-usage-center-no-scale" style="height:348px">
    <img src="assets/img/doc/httpstatus-spec.png" alt="" height="282px" width="540px" style="margin-left:24px">
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
    <span class="docs-markdown-h3" id="component_location_for_designers">
      <span header-link="component_location_for_designers"></span>Component Location for Designers</span>
  </div><a class="doc-download-link" href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch">Download Sketch File</a>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path within the Sketch App UI:
  </div>



  <div sketch-link=""></div>


</body>

</html>