<html>

<head></head>

<body>
  <div class="doc-category-title ">
    Popups & Modals
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Login </div>
  <div class="doc-desc-1">
    Users are requires to login to fully access to Vizient MDA dashboards. </div>

  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Examples
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-desc-2">
    Login is a required step to enter Vizient MDA dashboards. </div>
  <div class="doc-example-container">
    <div app-docs-example="login-basic"></div>
  </div>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized login, just set
    <span class="doc-desc-2-highlight">forgetPasswordLink/loginOnClick</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>forgetPasswordLink</td>
        <td>Link of forget Password</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>loginOnClick</td>
        <td>The callback function that is triggered when login button is pressed.</td>
        <td>function(e)</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Login should:
    <ul class="doc-list">
      <li>Be clearly labeled so it’s obvious to the users what they need to provide to be logged in.</li>
      <li>Only ask for information that’s really needed.</li>
      <li>Validate input as soon as user has finished interacting with a field.</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage &amp; Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>

  <div class="doc-desc-2">
    Label text should be short, clear, and fully visible. It shouldn’t be truncated.
  </div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:456px">
      <img src="assets/img/doc/login-clear-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center" style="height:456px;margin-top:16px">
      <img src="assets/img/doc/login-clear-dont.png" alt="">
    </div>
  </div>


  <div class="doc-desc-2">
    Disable confirming actions (1) until all the fields are filled. </div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:456px">
      <img src="assets/img/doc/login-status-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center" style="height:456px;margin-top:16px">
      <img src="assets/img/doc/login-status-dont.png" alt="">
    </div>
  </div>

  <div class="doc-divider">

  </div>

  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>


  <div class="docs-usage-spec docs-usage-center" style="height:528px">
    <img src="assets/img/doc/login-spec.png" alt="">
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
    <span class="docs-markdown-h3" id="component_location_for_designers">
      <span header-link="component_location_for_designers"></span>Component Location for Designers</span>
  </div>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path within the Sketch App UI:
  </div>
  <div sketch-link></div>


</body>

</html>