<html>

<head></head>

<body>
  <div class="doc-category-title ">
    Navigation
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Menu
  </div>
  <div class="doc-desc-1">
    <p>Menus display a list of choices on a transient sheet of material.</p>
    <p>Menus appear upon interaction with a button, action, or other control.
      They display a list of choices, with one choice
      per line.</p>
    <p>Menu items may be disabled if not applicable to a certain context.
      Contextual menus dynamically change their available
      menu items based on the current state of the app.</p>
    <p>Menus should not be used as a primary method for navigation within an
      app.</p>
  </div>

  <div class="doc-divider">
  </div>
  <div class="doc-title-2 mb-24">
    Examples
    <span class="docs-more-example"></span>
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-title-4 mb-8">
    Basic Menu
  </div>
  <div class="doc-desc-2 mb-16">
    Menus allow users make a selection from multiple options. </div>
  <div class="doc-example-container">
    <div app-docs-example="menu-basic"></div>
  </div>



  <div class="doc-title-4 mb-8">
    Menu with Icons
  </div>
  <div class="doc-example-container">
    <div app-docs-example="menu-icon"></div>
  </div>

  <div class="doc-title-4 mb-8">
    Nested Menu
  </div>
  <div class="doc-example-container" style="margin-top:16px">
    <div app-docs-example="menu-nested"></div>
  </div>


  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized checkbox, just set
    <span class="doc-desc-2-highlight">type/state/disabled</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>backdropClass</td>
        <td>Class to be added to the backdrop element.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>hasBackdrop</td>
        <td>Whether the menu has a backdrop.</td>
        <td>boolean | undefined</td>
        <td></td>
      </tr>
      <tr>
        <td>overlapTrigger</td>
        <td>Whether the menu should overlap its trigger.</td>
        <td>boolean</td>
        <td></td>
      </tr>
      <tr>
        <td>panelClass</td>
        <td>This method takes classes set on the host mat-menu element and
          applies them on the menu template that displays in
          the overlay container. Otherwise, it&apos;s difficult to style the
          containing menu from outside the component.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>xPosition</td>
        <td>Position of the menu in the X axis.</td>
        <td>MenuPositionX</td>
        <td></td>
      </tr>
      <tr>
        <td>yPosition</td>
        <td>Position of the menu in the Y axis.</td>
        <td>MenuPositionY</td>
        <td></td>
      </tr>
      <tr>
        <td>closed</td>
        <td>EventEmitter</td>
        <td>Event emitted when the menu is closed.</td>
        <td></td>
      </tr>
      <tr>
        <td>direction</td>
        <td>Layout direction of the menu.</td>
        <td>Direction</td>
        <td></td>
      </tr>
      <tr>
        <td>parentMenu</td>
        <td>Parent menu of the current menu panel.</td>
        <td>MatMenuPanel</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>


  <div class="doc-title-2">
    Usage &amp; Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>

  <div class="doc-desc-2">
    Dropdown menus display a list of options, triggered by an icon, button, or
    action. Be clearly stated which item is selected
    and which item is available to be selected.
  </div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:272px">
      <img src="assets/img/doc/menu-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center" style="height:272px;margin-top:24px">
      <img src="assets/img/doc/menu-dont.png" alt="">
    </div>
  </div>




  <div class="doc-divider">

  </div>

  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>


  <div class="docs-usage-spec docs-usage-center" style="height:336px">
    <img src="assets/img/doc/menu-spec.png" alt="">
  </div>


  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
    <span class="docs-markdown-h3" id="component_location_for_designers">
      <span header-link="component_location_for_designers"></span>Component
      Location for Designers</span>
  </div>
  <a class="doc-download-link" href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch">Download Sketch File</a>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path
    within the Sketch App UI:
  </div>
  <div sketch-link=""></div>







</body>

</html>
