<html>

<head></head>

<body>
  <div class="doc-category-title ">
    Data Table
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    No Data </div>
  <div class="doc-desc-1">
    Help the user know when there is no data. Don't assume that they'll interpet a blank table or field as "no data". They might
    think the application is broken.</div>
     
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Examples
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-desc-2">
    No data means that there is no activity to display that matches your current Dashboard and filter settings.</div>
  <div class="doc-example-container">
    <div app-docs-example="nodata-basic"></div>
  </div>

  <div class="doc-divider">
  </div>
  <!-- <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized checkbox, just set
    <span class="doc-desc-2-highlight">type/state/disabled</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>checked</td>
        <td>Specifies whether the checkbox is selected</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>disabled state of checkbox</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>indeterminate</td>
        <td>Whether the checkbox is indeterminate</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div> -->
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    No Data modal should:
    <ul class="doc-list">
      <li>Scannable: It should be visible at a glance when the users land on a page which has no data to show.</li>
      <li>Be clearly and accurately state the reason why there is no data.</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage & Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>

  <div class="doc-desc-2">
    Be clearly and accurately state the reason why there is no data.
  </div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:326px">
      <img src="assets/img/doc/nodata-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center docs-mt16" style="height:326px">
      <img src="assets/img/doc/nodata-dont.png" alt="">
    </div>
  </div>


  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>


  <div class="docs-usage-spec docs-usage-center" style="height:280px;">
    <img src="assets/img/doc/nodata-spec.png" alt="" width="290px" height="214px" style="left: 75px">
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
  </div>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path within the Sketch App UI:
  </div>
  <div sketch-link></div>


</body>

</html>