<html><head></head>

<body>
  <div class="doc-category-title ">
    Form Control
    <span class="docs-markdown-h3" id="contents"><span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Slide Toggle  </div>
  <div class="doc-desc-1">
    Slider Toggles are used for binary actions. They are commonly used for “On/Off” situations.  </div>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Examples
    <span class="docs-markdown-h3" id="examples"><span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-desc-2">
    Give user control over an option or feature that can be turned on or off.  </div>
  <div class="doc-example-container">
    <div app-docs-example="slide-toggle-basic"></div>
  </div>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props"><span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized checkbox, just set
    <span class="doc-desc-2-highlight">type/state/disabled</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>checked</td>
        <td>Specifies whether the checkbox is selected</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>disabled state of checkbox</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices"><span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Slider toggle should:
    <ul class="doc-list">
      <li>Control over an option or feature that can be turned on or off.</li>
      <li>Be made clear from the corresponding inline label for the option that it controls.</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage &amp; Content guidelines
    <span class="docs-markdown-h3" id="content_guidelines"><span header-link="content_guidelines"></span>Content guidelines</span>
  </div>

  <div class="doc-desc-2">
    Do not alternate the main color of the toggle  </div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w50 docs-usage-center" style="height:200px">
      <img src="assets/img/doc/slidertoggle-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w50 docs-usage-center" style="height:200px">
      <img src="assets/img/doc/slidertoggle-dont.png" alt="">
    </div>
  </div>


  

  <div class="doc-divider">

  </div>

  <div class="doc-title-2">
    Design specs
    <span class="docs-markdown-h3" id="design_specs"><span header-link="design_specs"></span>Design specs</span>
  </div>


  <div class="docs-usage-spec docs-usage-center" style="height:280px">
    <img src="assets/img/doc/slidertoggle-spec.png" alt="">
  </div>
  



</body></html>