<html>

<head></head>

<body>
  <div class="doc-category-title ">
    Layout
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Stepper
  </div>
  <div class="doc-desc-1">
    Steppers provides a wizard-like workflow by dividing content into logical steps. Steppers display progress through a sequence
    of logical and numbered steps. They may also be used for navigation.</div>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Examples
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>
  <div class="doc-desc-2">
    Steppers display progress through a sequence by breaking it up into multiple logical and numbered steps. </div>


  <div class="doc-example-container">
    <div app-docs-example="stepper-basic"></div>
  </div>
  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized checkbox, just set
    <span class="doc-desc-2-highlight">steps</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>steps</td>
        <td>steps setting of array</td>
        <td>Array</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Stepper shoud:

    <ul class="doc-list">
      <li>Stepper reflects the status of a process. They are never simply decorative.
      </li>
      <li>Stepper requires users to complete one step in order to move on to the next.</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage &amp; Content guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content guidelines</span>
  </div>

  <div class="doc-desc-2">
    Don’t embed steppers within steppers or use multiple steppers on one page.</div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:360px">
      <img src="assets/img/doc/stepper-do.png" alt="" style="max-width:none;left:-240px;top:30px">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center docs-mt16" style="height:360px">
      <img src="assets/img/doc/stepper-dont.png" alt="" style="max-width:none;left:-240px;top:30px">
    </div>
  </div>




  <div class="doc-divider">

  </div>

  <div class="doc-title-2">
    Design specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design specs</span>
  </div>


  <div class="docs-usage-spec docs-usage-center" style="height:280px">
    <img src="assets/img/doc/stepper-spec.png" alt="">
  </div>






</body>

</html>