<html>

<head></head>

<body>
  <div class="doc-category-title ">
    Layout
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Tabs
  </div>
  <div class="doc-desc-1">
    Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.
  </div>

  <div class="doc-divider">
  </div>
  <div class="doc-title-2 mb-24">
    Examples
    <span class="docs-more-example" doc-viewer-extend="exampleWrapper"></span>
    <span class="docs-markdown-h3" id="examples">
      <span header-link="examples"></span>Examples</span>
  </div>

  <div class="doc-title-4 mb-8">
    Basic Use of the Tab Group
  </div>

  <div class="doc-desc-2">
    Default tabs contain more than 3 items within a wide column. </div>
  <div class="doc-example-container">
    <div app-docs-example="tabs"></div>
  </div>

  <div id="exampleWrapper">

    <div class="doc-title-4 mb-8">
      Simple Tabs
    </div>
    <div class="doc-desc-2">
      Simple tabs contain a few items within a narrow column. </div>
    <div class="doc-example-container">
      <div app-docs-example="tabs-narrow"></div>
    </div>

    <div class="doc-title-4 mb-16">
      Customizing the Theme Options on the Tab Group
    </div>
    <div class="doc-example-container">
      <div app-docs-example="tabs-theme"></div>
    </div>



    <div class="doc-title-4 mb-16">
      Using Tabs with a Custom Label Template
    </div>
    <div class="doc-example-container">
      <div app-docs-example="tabs-custom-label"></div>
    </div>




  </div>



  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Props
    <span class="docs-markdown-h3" id="props">
      <span header-link="props"></span>Props</span>
  </div>
  <div class="doc-desc-2">
    To get a customized tabs, just set
    <span class="doc-desc-2-highlight">ariaLabel/ariaLabelledby/disabled/textLabel/isActive/origin/position/number/templateLabel/MatTabLabel&#xCE;</span>
  </div>
  <table class="doc-props-table">
    <thead>
      <tr>
        <th>property</th>
        <th>description</th>
        <th>type</th>
        <th>default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ariaLabel</td>
        <td>Aria label for the tab.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>ariaLabelledby</td>
        <td>Reference to the element that the tab is labelled by. Will be cleared if aria-label is set at the same time.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Whether the component is disabled.</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>textLabel</td>
        <td>Plain text label for the tab, used when there is no template label.</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>isActive</td>
        <td>Whether the tab is currently active.</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>origin</td>
        <td>The initial relatively index origin of the tab if it was created and selected after there was already a selected
          tab. Provides context of what position the tab should originate from.

        </td>
        <td>number </td>
        <td>null</td>
      </tr>
      <tr>
        <td>position</td>
        <td>The relatively indexed position where 0 represents the center, negative is left, and positive represents the right.

        </td>
        <td>number</td>
        <td>null</td>
      </tr>
      <tr>
        <td>templateLabel</td>
        <td>Content for the tab label given by &lt;ng-template mat-tab-label&gt;.

        </td>
        <td>MatTabLabel</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Best Practices
    <span class="docs-markdown-h3" id="best_practices">
      <span header-link="best_practices"></span>Best Practices</span>
  </div>

  <div class="doc-desc-2">
    Tabs should be:
    <ul class="doc-list">
      <li>
        <span class="doc-bold-title">Scalable: </span>As tabs can horizontally scroll, a UI can have as many tabs as needed.</li>
      <li>
        <span class="doc-bold-title">Informative: </span>Tabs organize content into categories to help users easily find different types of information.</li>
      <li>
        <span class="doc-bold-title">Peers: </span>Tabs are displayed next to each other as peers, in categories of equal importance.</li>
    </ul>
  </div>

  <div class="doc-divider">

  </div>


  <div class="doc-title-2">
    Usage &amp; Content Guidelines
    <span class="docs-markdown-h3" id="content_guidelines">
      <span header-link="content_guidelines"></span>Content Guidelines</span>
  </div>

  <div class="doc-desc-2">
    Don&#x2019;t use simple tabs within a wide column, even when there are just a few items.
  </div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:282px">
      <img src="assets/img/doc/tabs-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center docs-mt16" style="height:282px">
      <img src="assets/img/doc/tabs-dont.png" alt="">
    </div>
  </div>

  <div class="doc-desc-2">
    If there is not enough space for tabs within a narrow column, don&#x2019;t wrap or resize text, make the tabs scrollable
    instead.
  </div>

  <div class="docs-guideline-group">
    <div class="docs-usage-do docs-usage-w100 docs-usage-center" style="height:282px">
      <img src="assets/img/doc/tabs-scroll-do.png" alt="">
    </div>
    <div class="docs-usage-dont docs-usage-w100 docs-usage-center docs-mt16" style="height:282px">
      <img src="assets/img/doc/tabs-scroll-dont.png" alt="">
    </div>
  </div>



  <div class="doc-divider">

  </div>

  <div class="doc-title-2">
    Design Specs
    <span class="docs-markdown-h3" id="design_specs">
      <span header-link="design_specs"></span>Design Specs</span>
  </div>


  <div class="docs-usage-spec docs-usage-center" style="height:346px">
    <img src="assets/img/doc/tabs-spec.png" alt="">
  </div>

  <div class="doc-divider"></div>
  <div class="doc-title-2">
    Component Location for Designers
    <span class="docs-markdown-h3" id="component_location_for_designers">
      <span header-link="component_location_for_designers"></span>Component Location for Designers</span>
  </div>
  <a class="doc-download-link" href="http://vizient-toolkit.interactivelabs.com/toolkit_material_library.sketch">Download Sektch File</a>
  <div class="doc-desc-2">
    For designers, to add this component to your design, follow this path within the Sketch App UI:
  </div>
  <div sketch-link=""></div>





</body>

</html>