<html>

<head></head>

<body>
  <div class="doc-category-title ">
    Foundation
    <span class="docs-markdown-h3" id="contents">
      <span header-link="contents"></span>Contents</span>
  </div>
  <div class="doc-title-1">
    Typography
  </div>

  <div class="doc-desc-1">
    Use typography to present your design and content as clearly and efficiently as possible.
  </div>


  <div class="doc-divider">
  </div>
  <div class="doc-title-2">
    Type Scale

    <span class="docs-markdown-h3" id="type_scale">
      <span header-link="type_scale"></span>Type Scale</span>

  </div>

  <div class="doc-desc-2">
    The type scale is a combination of 15 styles that are supported by the type system. It contains reusable categories of text,
    each with an intended application and meaning.
  </div>




  <img src="assets/img/typescale.svg" alt="" srcset="" height="1015" width="703">


  <div class="doc-divider"></div>

  <div class="doc-title-2">
    Applying The Type Scale

    <span class="docs-markdown-h3" id="applying_the_type_scale">
      <span header-link="applying_the_type_scale"></span>Applying The Type Scale </span>

  </div>

  <div class="doc-desc-2">
    The type scale appears as text in components and the overall layout. Type attributes can use custom values for the typeface,
    font, case, size, and letter spacing.
  </div>


  <div class="doc-title-3">
    Headlines
  </div>

  <div class="doc-desc-2">
    In the type scale, headlines span from a range of 1 through 6. Headlines are the largest text on the screen, reserved for
    short, important text or numerals.
  </div>

  <img src="assets/img/headlines.svg" alt="" srcset="" height="300" width="800" class="docs-mb32">


  <div class="doc-title-3">
    Body
  </div>

  <div class="doc-desc-2">
    Body text comes in ranges 1-4, and it&#x2019;s typically used for long-form writing as it works well for small text sizes. For longer
    sections of text, a serif or sans serif typeface is recommended.
  </div>

  <img src="assets/img/body.svg" alt="" srcset="" height="300" width="800" class="docs-mb32">

  <div class="doc-title-3">
    Small Label
  </div>

  <div class="doc-desc-2">
    Small label (text with a line above it) are the smallest font sizes. They are used sparingly to annotate imagery or to introduce
    a headline.
  </div>

  <img src="assets/img/smalllabel.svg" alt="" srcset="" height="300" width="800">



</body>

</html>