:host {
  display: block;
  padding: 0 0;
  border: 1px solid #efefef;
  ::ng-deep {
    .mat-tab-label {
      padding: 0 0;
      max-width: 80px;
      min-width: 0;
      margin-left: 20px;
    }
  }
}

.docs-example-viewer-wrapper {
  h3 {
    margin-top: 10px;
  }
}

.docs-example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-source-copy {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #C3C3C3;
  mat-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
    line-height: 1;
  }
}
.docs-example-viewer-source {
  ::ng-deep {
    .mat-tab-body-wrapper {
      background: #F8F8F8;
    }
  }
}

.docs-example-source {
  padding: 16px 20px;
  min-height: 64px;
  line-height: 30px;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  font-family: Soleto;
}

.docs-example-viewer-body {
  padding: 60px 0;
  text-align: center;
  border-bottom: 1px solid #efefef;
}
