:host {
  display: block;
  padding: 0 0;
  border: 1px solid #efefef;
  ::ng-deep {
    .mat-tab-label {
      padding: 0 0;
      // max-width: 80px;
      min-width: 0;
      margin-left: 20px;
    }
  }
}

.docs-example-viewer-wrapper {
  h3 {
    margin-top: 10px;
  }
}

.docs-example-platform {
  float: right;
  margin-top: 16px;
  margin-right: 24px;
  color: #c3c3c3;
  .mat-icon-button {
    // margin-left: 12px;
  }

  .active {
    color: #000000;
  }
}

.docs-example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-source-copy {
  // position: absolute;
  float:right;
  margin-top:12px;
  margin-right: 13px;
  // line-height: 18px;
  // height: 18px;
  // width: 18px;\
  
  img {
    height: 18px;
    width: 18px;
  }
}
.docs-example-viewer-source {
  ::ng-deep {
    .mat-tab-body-wrapper {
      background: #f8f8f8;
      // padding: 24px;
    }
  }
}

.docs-example-source {
  // padding: 16px 20px;
  min-height: 64px;
  line-height: 30px;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  font-family: Soleto;
  padding: 20px 24px;
}

.docs-example-viewer-body {
  padding: 40px 0;
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid #efefef;
  width: 100%;
  // overflow-x: scroll;
  // overflow: auto;
}

.doc-example-viewer-phone {
  width: 375px;
}
.doc-example-viewer-tablet {
  width: 768px;
}
.doc-example-viewer-desktop {
  width: 1200px;
}
::ng-deep {
  .docs-example-platform {
    @mixin md-icon-size($size: 18px) {
      font-size: $size;
      height: $size !important;
      width: $size !important;
    }

    .mat-icon {
      @include md-icon-size(18px);
      margin-left: 12px;
      // cursor: pointer;
    }
  }

  // .header-basic {
  //   &.desktop_mac {
  //   }
  //   &.tablet_mac {
  //     .more {
  //       display: none;
  //     }
  //     .navbar-welcome {
  //       display: none !important;
  //     }
  //     .navbar-hamburger {
  //       display: block !important;
  //     }
  //   }
  //   &.phone_iphone {
  //     .page-name {
  //       display: none;
  //     }
  //     .more {
  //       display: none;
  //     }
  //     .navbar-welcome {
  //       display: none !important;
  //     }
  //     .navbar-hamburger {
  //       display: block !important;
  //     }
  //   }
  // }
  // .footer-basic {
  //   &.phone_iphone {
  //     .footer-bar {
  //       width: 320px;
  //       margin: 0 auto;
  //     }
  //     .footer-center {
  //       position: relative;
  //     }
  //   }
  // }
  .mat-tab-list {
    .mat-ink-bar {
      transition: none;
    }
  }
  // 'desktop_mac','tablet_mac','phone_iphone'
  .viewport {
    &-iframe {
      height: 300px;
    }
    &_desktop_mac {
      width: 100%
    }
    &_tablet_mac {
      width: 767px;
    }
    &_phone_iphone {
      width: 374px
    }
  }

  .datepicker-viewport {
    height: 1000px;
  }

  .dialog-viewport {
    height: 700px;
  }
}
