:host {
  mat-toolbar {
    background-color: #ffffff;
  }
  .toolbarWrapper {
    display: inline-block;
    // width: 710px;
    width: 100%;
  }
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .example-icon {
    padding: 0 14px;
    color: #9f9f9f;
  }
  .example-title {
    color: #000000;
    /* Title: */
    font-family: Soleto;
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 400;
  }
}
