<mat-list >
  <mat-list-item>
    <div class="inner-content">
      List item 1
      <span class="chip purple">1</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="inner-content">
      List item 2
      <span class="chip orange">33</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="inner-content">
      List item 3
      <span class="chip purple">20</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="inner-content">
      List item 4
      <span class="chip red">42</span>
    </div>
  </mat-list-item>
 </mat-list>

 