.inner-content {
  width: 330px;
}

.chip {
  color: white;
  border-radius: 24px;
  width: 24px;
  text-align: center;
  float: right;
}
.red {
  background-color: red;
}
.purple {
  background-color: blueviolet;
}
.orange {
  background-color: orange;
}
