<div class="list-example">


  <div class="list-basic-wrap">
    <mat-list>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let message of messages">
        <mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3> {{message}} </h3>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>

  <div class="list-basic-wrap">

    <mat-selection-list #shoes>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let shoe of typesOfShoes">
        <mat-list-option>
          {{shoe}}
        </mat-list-option>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-selection-list>
  </div>
</div>