.example-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
}

.example-container > * {
  width: 100%;
}

.mat-form-field {
  width: 360px;
}

.mat-form-field:not(:last-child) {
  margin: 0 auto 56px auto;
}
