<mat-card class="example-card">
  <!-- <mat-card-header> -->
    <mat-card-title
      >Mayo Clinic
      <mat-icon class="example-card-more-icon">more_vert</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>Rochester, Minnesota, United States</mat-card-subtitle>
  <!-- </mat-card-header> -->
  <img
    mat-card-image
    src="../../../assets/img/doc/vizient-hospital.png"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Mayo Clinic is a nonprofit academic medical center based in Rochester,
      Minnesota Focuseded on integrated clinical practice, education, and
      research.
    </p>
  </mat-card-content>
  <!-- <mat-card-actions> -->
    <button mat-flat-button color="primary" class="example-card-btn-1">Action 1</button>
    <button mat-button color="primary">Action 2</button>
  <!-- </mat-card-actions> -->
</mat-card>
