<div class="dialog-content">


  <div class="dialog-content-title">
    Confirmation Dialog
  </div>

  <div class="dialog-content-message">
    Consectetur adipiscing elit, sed do eiusmod tempor inci ut labore et dolore magna aliqua.
  </div>

  <mat-checkbox [(ngModel)]="checked">Duis aute irure dolor in reprehenderit.</mat-checkbox>


</div>
<mat-divider></mat-divider>
<div class="dialog-footer">
  <button mat-flat-button color="primary" [disabled]="!checked" (click)="closeDialog()">Apply</button>
  <button mat-button color="primary" (click)="closeDialog()">Cancel</button>
</div>