.example-events {
  width: 400px;
  height: 200px;
  border: 1px solid #555;
  overflow: auto;
  margin-left: 56px;
}

:host {
  text-align: left;
}

.mat-form-field {
  display: flex;
  margin-left: 56px;
}