@import '../styles/constants';
:host {
  .mat-tab-nav-bar {
    height: 100%;
    line-height: 100%;
    border-bottom: none;
    ::ng-deep {
      .mat-tab-links {
        align-items: center;
        height: 100%;
        .mat-tab-link {
          height: 72px;
          font-size: 13px;
          padding: 0 0 0 0;
          // margin-right: 30px;
          // min-width: 100px;
          padding: 0px 24px;
          min-width: auto;

          /* Components: */
          font-family: Soleto;
          color: #9f9f9f;
          letter-spacing: 0.4px;
          font-weight: 500;
          &.mat-tab-label-active {
            color: #212121;
          }
        }
        .mat-ink-bar {
          height: 4px;
        }
      }
    }
    .github-link {
      height: 72px;
      line-height: 72px;
      font-size: 13px;
      /* Components: */
      font-family: Soleto;
      letter-spacing: 0.4px;
      font-weight: 500;
    }
  }
  .main-sec {
    min-height: $contentHeight;
    // overflow: auto;//fix div collapse
    // height: auto;
    height: calc(100vh - 72px);
    overflow: auto;
    position: relative;
  }
}
