<div class="example-wrapper">
  <div class="viz-sidenav viz-elevation-z4">
    <div class="viz-sidenav-header">
      Activity Overview
    </div>
    <div class="viz-sidenav-group" *ngFor="let nav of navList; let navIndex=index">
      <div class="viz-sidenav-group-header">
        {{nav.name}}
      </div>
      <div class="viz-sidenav-group-item" *ngFor="let subNav of nav.subs; let i=index" 
        (click)="redirectTo(subNav)"
        routerLinkActive
        #rla="routerLinkActive" [class.active]="subNav.isActive">
        <mat-icon class="viz-sidenav-group-item-icon">{{subNav.icon}}</mat-icon>
        {{subNav.name}}
        <mat-icon *ngIf="subNav.removable" class="viz-sidenav-group-item-icon-close" (click)="removeItem(navIndex, subNav);$event.stopPropagation();">close</mat-icon>
      </div>
    </div>
  </div>
</div>