.mat-sort-header-container {
  align-items: center;
}

table {
  background: #ffffff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06),
    0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

table,
td,
td,
tr,
th {
  border-spacing: 0px;
  padding: 0px;
}

th,
td {
  text-align: left;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.w20 {
  width: 20%;
}

.w60 {
  width: 60%;
}
.w50 {
  width: 50%;
}
.w70 {
  width: 70%;
}
.w30 {
  width: 30%;
}

.expand-row {
  /* Rectangle 3: */
  background: #fafafa;
  box-shadow: 0 1px 0 0 rgba(215, 221, 229, 0.5),
    inset 0 1px 0 0 rgba(215, 221, 229, 0.5);
}

.example-container {
  width: 100%;
}

:host {
  padding: 0 56px;
  display: block;
}

.example-first-col {
  font-family: Soleto;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 18px;
}

.expand-icon {
  color: #c3c3c3;
  margin-right: 12px;
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.mat-tab-link {
  min-width: auto;
  padding: 0px;
  margin-right: 32px;
}

.view-details {
  margin: 0 0 0 auto;
  align-self: center;
  height: 36px;
}

.expand-row-container {
  padding: 20px 24px 0px 40px;
  background-color: #fafafa;
}

.expand-row-tab-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.expand-row-chart {
  height: 200px;
  width: 200px;
  position: relative;
}

.expand-row-list {
  margin: 0 0 0 auto;
  list-style-type: none;
  width: 50%;
  padding: 24px 0px;
}

.expand-row-list li {
  display: flex;
  align-items: center;
  height: 18px;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  padding: 12px 0px;
  border-bottom: 1px solid #f0f0f0;
}

.list-circle {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 16px;
}

.list-item-percent {
  margin: 0 0 0 auto;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text-title {
  font-weight: 700;
  font-size: 10px;
  color: #9b9b9b;
  letter-spacing: 1.5px;
  line-height: 15px;
}

.center-text-value {
  font-size: 28px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}


.viz-table-cell:last-child {
  padding-right: 24px;
  justify-content: flex-end;
}

.viz-table-head:last-child {
  justify-content: flex-end;
}