.example-container {
  height: 372px;
  text-align: left;
  color: #696969;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

:host {
  margin: -56px 0px;
  display: block;
  height: 500px;
}

.mat-drawer {
  color: #696969;
}

.mat-toolbar {
  color: #696969;
}