.example-container {
  text-align: left;
  color: #696969;
}

.example-container-fixed {
  position: initial;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.mat-sidenav-fixed {
  position: absolute;
}

.mat-drawer {
  color: #696969;
}

.mat-toolbar {
  color: #696969;
}

.sidenav-fixed-container-fixed {
  position: relative;
}

.sidenav-fixed-container {
  margin: -56px 0;
}

.mat-button {
  margin-bottom: 101px
}