<div class="component-wrapper">
  <div class="component-title-1 component-mb10">
    Components
  </div>
  <div class="component-sub-1">
    Get up and running with Vizient Components for web
  </div>

  <div class="component-class-wrapper">
    <div class="component-class" *ngFor="let class of componentClass; let i=index">
      <div class="component-header">
        <div class="component-header-svg">
          <img src="assets/img/{{class.title}}.svg" alt="{{class.title}}" *ngIf="!!class.title">
        </div>
        <div class="component-title-2">{{class.title}}</div>
      </div>
      <ul class="component-list">
        <li *ngFor="let component of class.components; let i=index" class="component-list-item" (click)="routeTo(component.route)">
          <div class="component-list-svg">
            <img src="assets/img/{{component.title}}.svg" alt="{{component.title}}">
          </div>
          <div class="component-item">
            <div class="component-title-3 component-title-link">{{component.title}}</div>
            <div class="component-sub-2">{{component.desc}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>