<div class="dialog-content">


  <div class="dialog-content-title">
    Basic Dialog
  </div>

  <div class="dialog-content-message">
    Do you want to discard changes?
  </div>

  <mat-form-field class="dialog-content-input">
    <input matInput value="type here...">
  </mat-form-field>



</div>
<mat-divider></mat-divider>
<div class="dialog-footer">
  <button mat-flat-button color="primary" (click)="closeDialog()">OK</button>
  <button mat-button color="primary" (click)="closeDialog()">No, Thanks</button>
</div>