<div class="dialog-content">


  <div class="dialog-content-title">
    Basic Dialog
  </div>

  <div class="dialog-content-message">
    Do you want to discard changes?
  </div>

  <mat-form-field class="dialog-content-input">
    <mat-label></mat-label>
    <input tabindex="-1" matInput placeholder="Type here...">
  </mat-form-field>



</div>
<mat-divider></mat-divider>
<div class="dialog-footer">
  <button tabindex="-1" mat-flat-button color="primary" (click)="closeDialog()">OK</button>
  <button tabindex="-1" mat-button color="primary" (click)="closeDialog()">No, Thanks</button>
</div>