<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input" value="Input text" />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Textarea"
      value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select" value="option">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
