<div class="principles-wrapper">
  <div class="principles-sec-1">
    <h1>Vizient Principles</h1>
    <p id="large">At Vizient, we build products to ensure our members deliver exceptional, cost-effective care. Our mission is to connect
      members with the knowledge, solutions and expertise that accelerate performance. We work side by side with members
      to find greater efficiency that leads to greater effectiveness.</p>
  </div>
  <div class="principles-sec-2">
    <h1>Our Value</h1>
    <p id="large">In executing our strategy, we operate from a dynamic set of values that drive both the performance of our enterprise and
      the exceptional experience we want to provide — for members and each other.</p>
  </div>
</div>