<div class="example-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Form label error" [formControl]="emailFormControl" value="Input here" autocomplete='off'/>
    <!-- <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error> -->
    <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
</div>
