<div class="list-example">
  <div class="list-basic-wrap">
    <mat-list>
      <ng-container *ngFor="let message of messages">
        <mat-list-item>
          <mat-icon>folder</mat-icon>
          {{message}}
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>

  <div class="list-basic-wrap">
    <mat-selection-list #shoes>
      <ng-container *ngFor="let message of messages">
        <mat-list-option>
          {{message}}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </div>
</div>