.example-card {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  text-align: left;
  color: #696969;
  font-family: 'Soleto';
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 26px;
}
