:host {
  font-size: 13px;
  // Width is container width minus content width
  width: 19%;
  position: sticky;
  top: 1000;
  padding-left: 25px;
  box-sizing: border-box;
  display: inline-flex;
}

.docs-toc-container {
  width: 100%;
  padding: 5px 0 10px 10px;
}

.docs-toc-heading {
  margin: 0;
  padding: 0;

  /* Contents: */
  font-family: Soleto;
  font-size: 12px;
  color: #9f9f9f;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: 16px;
  font-weight: 400;
}
.docs-link {
  cursor: pointer;
}
a {
  margin: 20px 0 0;
  position: relative;
  text-decoration: none;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;

  /* Body 2 Copy 20: */
  font-family: Soleto;
  font-size: 14px;
  color: #696969;
  line-height: 18px;
  font-weight: 300;
  &.docs-active {
    color: black;
    /* Body 2 Copy 17: */
    font-weight: 400;
  }
}

.docs-level-h4 {
  margin-left: 12px;
}

.docs-sketch-link {
  height: 18px;
  width: 200px;
  color: #ff4e00;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

::ng-deep {
  .docs-markdown-h3 {
    opacity: 0;
  }
}
